.App {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: lightgray;
}

.AppHeader {
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}


.SideMenuAndPageContent {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 10px;
    font-size: 28px;
}

.SideMenu {
    height: 100%;

}

.SideMenuVertical {
    height: 100%;
    background-color: lightgray;

}

.PageContent {
    padding-left: 12px;
}